#respond{
    background-color: brown;
    color :rgb(21, 230, 160);
    border-radius: 15px;
    padding: 10px 20px;
    border: 30px;
    cursor: pointer;
}
#respond:hover {
    background-color: blueviolet;

}
#Name{
    background-color: rgb(207, 182, 194);
    color:#d61375 ;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    background-color: rgb(151, 151, 72);
    text-align: center;
}
h1{
    color: #331802;
}
h4{
    color: #271202;
}
input{
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #ccc;
}
#Greetingsmytraveler{
    margin-top: 20px;
    font-size: 20px;
    color: bisque;

}